* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  padding: 20vmin 20vmin 0;
}

.intro-para {
  padding: 5vmin 20vmin 20vmin 20vmin;
}

.piece {
  width: 100vw;
}

footer p {
  padding: 5vmin;
}
